#editor-container .ql-editor p {
    font-size: 25px;
    width: max-content;
}

@font-face {
    font-family: 'Jameel Noori Nastaleeq Kasheeda';
    src: url('Jameel Noori Nastaleeq Kasheeda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ql-toolbar input#customColorPicker {
    height: 20px;
}

.ql-editor{
    height: 150px;
}

.shadowBtnDiv{
    margin-top: -3px;

}

.clearShadow{
    display: flex !important;
    align-items: center;
    margin-left: 3px;
    font-size: 12px;
}

#shadowColor{
    width: 62%;
}

button#shadowBtn {
    margin-left: 20px;
    border: 1px solid #ccc;
    font-size: 13px;
    width: auto;
    border-radius: 3px;
    padding: 0px;
    padding: 0px 10px;
}

.showShadowBox{
    display: flex !important;
}